$dark: (
  foreground: rgb(224, 224, 224),
  background: rgb(30, 30, 30),
  emphasis: rgb(64, 64, 64),
  link: rgb(0, 160, 255),
  visited: rgb(192, 128, 255),
);
$light: (
  foreground: rgb(30, 30, 30),
  background: rgb(252, 252, 252),
  emphasis: rgb(224, 224, 224),
  link: rgb(0, 0, 255),
  visited: rgb(192, 0, 255),
);
