dialog.confirm {
  div.message {
    white-space: pre-wrap;
  }
  .buttons {
    display: flex;
    button {
      margin-right: 10px;
      &[value='yes']:empty::before {
        content: 'はい';
      }
      &[value='no']:empty::before {
        content: 'いいえ';
      }
      &[value='ok']:empty::before {
        content: 'OK';
      }
      &[value='cancel']:empty::before {
        content: 'キャンセル';
      }
    }
  }
}
