dialog.confirm {
  div.message {
    white-space: pre-wrap;
  }
  .buttons {
    display: flex;
  }
  button {
    margin-right: 10px;
    &[value='yes']::before {
      content: 'はい';
    }
    &[value='no']::before {
      content: 'いいえ';
    }
  }
}
