dialog {
  @include darkOrLight(background-color, 'background');
  @include darkOrLight(color, 'foreground');
  padding: 0.5em;
  border: none;
  border-radius: 1em;
  display: flex;
  flex-flow: column;

  > form {
    margin: 0;
    border: none;
    display: flex;
    flex-flow: column;
    align-items: end;
    flex-grow: 1;
    max-height: calc(100% - 3em);
  }
  .title {
    font-weight: bold;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  button[value='cancel'] {
    width: 2.4em;
    height: 2.4em;
    background-color: transparent;
    border-radius: 50%;
    &::after {
      content: '❌';
    }
  }

  // 標準のbackdropはdarkモードを考慮されていないので修正
  &::backdrop {
    @include darkOrLight(background-color, 'backdrop');
  }

  // 標準のinputもdarkモードを考慮されていないので修正
  input {
    @include darkOrLight(color, 'foreground');
    @include darkOrLight(background-color, 'background');
  }
}

@mixin title($title) {
  > .title::before {
    content: $title;
  }
}
