dialog {
  background-color: var(--background);
  color: var(--foreground);
  padding: 0.5em;
  border: none;
  border-radius: 1em;
  display: flex;
  flex-flow: column;

  > form {
    margin: 0;
    border: none;
    display: flex;
    flex-flow: column;
    align-items: end;
    flex-grow: 1;
    max-height: calc(100% - 3em);
  }
  .title {
    font-weight: bold;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    //
    &::before {
      content: attr(data-title);
    }
    button[value='cancel'] {
      width: 2.4em;
      height: 2.4em;
      background-color: transparent;
      border-radius: 50%;
      &:first-child {
        justify-self: flex-end;
      }
      &:hover {
        background-color: var(--button-background);
      }
    }
  }

  // 標準のbackdropはdarkモードを考慮されていないので修正
  &::backdrop {
    background-color: var(--backdrop);
  }

  // 標準のinputもdarkモードを考慮されていないので修正
  input {
    color: var(--foreground);
    background-color: var(--background);
  }
}

@mixin title($title) {
  > .title::before {
    content: $title;
  }
}
