div#menu {
  display: flex;
  background-color: transparent;
  position: fixed;
  top: 0;
  right: 0;
  width: fit-content;
  opacity: 0.5;
  transform: scale(0.5);
  transform-origin: top right;
  transition-property: opacity, background-color, transform;
  transition-duration: 1s;
  padding-left: 0.5em;
  padding-bottom: 0.5em;

  button {
    pointer-events: none;
    color: var(--foreground);
    background-color: transparent;
    outline: none;
    &:focus-visible {
      outline: none;
    }
    width: 48px;
    height: 48px;
    padding: 2px;
    border-radius: 50%;
  }
  &:hover {
    opacity: 0.9;
    transform: scale(1);
    background-color: var(--background);
    button {
      color: var(--button-foreground);
      pointer-events: auto;
      &:hover {
        background-color: var(--button-background);
      }
    }
  }
}
