div#menu {
  display: flex;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;
  transform: scale(0.5);
  transform-origin: top right;
  transition-property: opacity, background-color, transform;
  transition-duration: 1s;

  button {
    pointer-events: none;
    @include darkOrLight(color, 'foreground');
    background-color: transparent;
    outline: none;
    &:focus-visible {
      outline: none;
    }
    width: 48px;
    height: 48px;
    padding: 2px;
    border-radius: 50%;
  }
  &:hover {
    opacity: 1;
    transform: scale(1);
    @include darkOrLight(background-color, 'background');
    button {
      @include darkOrLight(color, 'button-foreground');
      pointer-events: auto;
      &:hover {
        @include darkOrLight(background-color, 'button-background');
      }
    }
  }
}
