dialog.open-document {
  @include title('保存したメモを開く');
  width: 80%;
  height: 80%;
  &:focus-visible {
    outline: none;
  }
  div.list {
    width: 100%;
    height: 100%;
    @include darkOrLight(background-color, 'list');
    display: flex;
    flex-flow: column;
    overflow-y: auto;
    position: relative;
    &:focus-visible {
      @include darkOrLight(border-color, 'button-foreground');
      outline: none;
    }

    // 保存されたメモが1つもないとき
    &:not(:has(div.list-item)){
      // スクロールバーは非表示
      overflow: hidden;
      // 真ん中にメッセージを表示
      flex-grow: 1;
      justify-content: center;
      align-items: center;
      &::before {
        content: '保存されたメモがありません。';
      }
    }
  }

  div.list-item,
  div.list-item-header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: stretch;
  }

  div.list-item {
    outline: none;
    &:focus-within {
      @include darkOrLight(background-color, 'list-active');
      button {
        opacity: 1;
      }
    }
    &:focus-within {
      font-weight: bold;
    }
    button {
      opacity: 0;
      transition: opacity 1s;
      background-color: transparent;
    }
    button[name='another-tab'] {
      position: relative;
      &::before {
        content: '▶';
      }
      &::after {
        content: '➕';
        display: block;
        position: absolute;
        bottom: 0.3em;
        left: 0.9em;
      }
    }
    button[name='open'] {
      &::after {
        content: '▶';
      }
    }
    button[name='delete'] {
      &::after {
        content: '\01f5d1\0fe0f';
      }
    }
  }
  .list-item-title,
  .list-item-size,
  .list-item-last-modified,
  .list-item-buttons {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
    text-wrap: nowrap;
    overflow-x: hidden;
    flex: 0 0;
    text-overflow: ellipsis;
    border-bottom: solid 1px;
    @include darkOrLight(border-bottom-color, 'emphasis');
  }
  div.list-item-title {
    flex: 1 1;
    border-right: solid 1px;
    @include darkOrLight(border-right-color, 'emphasis');
    padding-left: 3px;
  }
  div.list-item-size {
    flex-basis: 5em;
    border-right: solid 1px;
    @include darkOrLight(border-right-color, 'emphasis');
    padding-right: 3px;
    justify-content: flex-end;
  }
  div.list-item-last-modified {
    flex-basis: 10em;
    padding-left: 3px;
  }
  div.list-item-buttons {
    justify-content: space-around;
    flex-basis: 2.4em * 3;
  }
  div.list-item-header {
    // ヘッダを上辺に固定
    position: sticky;
    top: 0;

    div.list-item-title,
    div.list-item-size,
    div.list-item-last-modified {
      font-weight: bold;
      @include darkOrLight(background-color, 'list-header');
      padding-top: 4px;
      padding-bottom: 2px;
      justify-content: center;
      user-select: none;
      &::after {
        content: '▼';
      }
    }
    &[data-direction='next'] {
      div.list-item-title,
      div.list-item-size,
      div.list-item-last-modified {
        &::after {
          content: '▲';
        }
      }
    }
    &:not([data-column='title']) {
      div.list-item-title::after {
        content: '';
      }
    }
    &:not([data-column='size']) {
      div.list-item-size::after {
        content: '';
      }
    }
    &[data-column='title'],
    &[data-column='size'] {
      div.list-item-last-modified::after {
        content: '';
      }
    }
    div.list-item-last-modified {
      flex-basis: 10em + 2.4em * 3;
    }
    div.list-item-last-modified
      &[data-direction='next']
      div.list-item-last-modified::after {
      content: '';
    }
    // 保存されたメモが1つもないときはヘッダを非表示
    &:not(:has(+ div.list-item)) {
      display: none;
    }
  }
  // 新しいメモボタンの位置揃え
  div.list-item-footer {
    // メモの数がリストに対して少ないときでも下辺に揃える
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    // メモの数がリストに対して多いときに下辺に留める
    position: sticky;
    bottom: 0;
    // 保存されたメモが1つもないときも下辺に揃える
    &:not(:is(div.list-item + *)) {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  div.list-item-buttons button {
    width: 2.4em;
    height: 2.4em;
    border-radius: 1.2em;
  }
  button[value='new'] {
    @include darkOrLight(background-color, 'list');
    line-height: 140%;
    font-size: xxx-large;
    border-radius: 50%;
    padding: 0;
    &::after {
      content: '➕';
    }
  }
}
