dialog.open-document {
  width: 80%;
  height: 80%;
  > form {
    display: flex;
    flex-flow: column;
    align-items: end;
    div.list {
      width: 100%;
      height: 100%;
      background-color: rgb(240, 240, 240);
      border: solid 1px transparent;
      overflow-y: auto;
      &:focus-visible {
        border-color: black;
        outline: none;
      }
      div.list-item {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        background-color: rgb(240, 240, 224);
        height: 2.5em;
        &:nth-child(even) {
          background-color: rgb(224, 240, 240);
        }
        &:hover {
          background-color: rgb(200, 240, 200);
        }
        &[data-selected] {
          background-color: rgb(200, 200, 240);
          font-weight: bold;
        }
        div.list-item-title {
          text-wrap: nowrap;
          overflow-x: hidden;
          text-overflow: ellipsis;
        }
        div.list-item-last-modified {
          width: 14em;
        }
        button {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 2.2em;
          height: 2.2em;
          margin: auto 0;
          opacity: 0;
          pointer-events: none;
          transition: opacity 1s;
          background-color: transparent;
          border: none;
          border-radius: 5px;
          &:hover {
            border-bottom: solid 1px rgba(0, 0, 0, 0.3);
            border-right: solid 1px rgba(0, 0, 0, 0.3);
            border-top: none;
            border-left: none;
          }
          &:active {
            border-left: solid 1px rgba(0, 0, 0, 0.3);
            border-top: solid 1px rgba(0, 0, 0, 0.3);
            border-bottom: none;
            border-right: none;
          }

          @at-root #{selector-replace(&, 'div.list-item', 'div.list-item:hover')} {
            pointer-events: auto;
            opacity: 1;
          }
        }
        button[name='another-tab'] {
          right: calc(2.2em + 2px);
          &::after {
            content: '↗';
          }
        }
        button[name='delete'] {
          right: 2px;
          &::after {
            content: '\01f5d1\0fe0f';
          }
        }
      }
      // リストが空のときの大体文字列
      &:empty {
        display: flex;
        align-items: center;
        justify-content: center;
        &:after {
          content: '保存されたドキュメントがありません。';
        }
      }
    }
    > div {
      > button {
        margin: 10px 5px;
        width: 8em;
      }
      // 新規作成は順番を無視して左側に寄せる
      button[name="new"] {
        position: absolute;
        left: 10px;
      }
    }
  }
}
