dialog.password-prompt {
  >form {
      display: grid;
      grid-template-columns: [label] 1fr [value] 1fr 1fr [button] 1fr [end];
      column-gap: 0.5em;
      row-gap: 0.5em;
    }
  label {
    grid-column-start: label;
  }

  input {
    grid-column-start: value;
      grid-column-end: end;
    // 一つ目の入力欄がパスワード入力でなければ非表示
    &:not([type=password]) + summary {
      ~ label, ~ input, ~ summary {
        display: none;
      }
    }
  }

  summary {
    font-size: small;
    grid-column-start: value;
      grid-column-end: end;
    }
    
    button {
      grid-column-start: button;
  }
}
