dialog.password-prompt {
  @include title('パスワードの設定');
  > form {
    display: grid;
    grid-template-columns: 1fr [value] 3fr [button] 1fr;
    gap: 0.5em;
    > label {
      grid-column: 1;
      &::before {
        content: 'パスワード:';
      }
    }
  }

  // パスワード入力フィールドの外枠
  // - div要素である
  // - 先頭にテキストフィールドを持つ
  // - 末尾にラベルを持つ
  //   - ラベルはチェックボックスを持つ
  //   - テキストフィールドとラベルの間に要素はない
  //     -> テキストフィールドとラベルだけを持つ
  div:has(
      > input:is(:not([type]), [type='text'], [type='password']):first-child
        + label:last-child
        > input[type='checkbox']
    ) {
    grid-column: value / -1;
    border: solid 1px black;
    border-radius: 3px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &:has(:focus-visible) {
      // 中のフィールドにフォーカスがある場合は黒枠
      outline: 2px auto;
      @include darkOrLight(outline-color, 'foreground');
    }
    &:has(:invalid) {
      // 中のフィールドの内容に不備がある場合は赤枠
      outline: red 1px auto;
    }
    // 入力フィールド
    > input {
      // 親の枠一杯に広げる
      flex-grow: 1;
      // 枠線は外側で表示するので中では消す
      border: none;
      &:focus-visible {
        // フィールドのフォーカス枠も外側で表示するので消す
        outline: none;
      }
    }

    // チェックボックスを持つラベル(目のアイコン)
    > label {
      display: flex;
      // アイコンは中央に表示
      justify-content: center;
      align-items: center;
      // 通常は40%
      opacity: 0.4;
      // ホバー時にはアニメーションする
      transition: opacity 0.5s ease-in;
      &:hover {
        // ホバー状態になったらちゃんと表示
        opacity: 1;
      }
      // チェックボックス本体
      > input {
        // チェックボックス自体は非表示
        display: none;
      }
    }
    // 入力フィールドが初期状態のときの目のアイコンは非表示
    input:not([type]) + label {
      display: none;
    }
  }

  summary {
    font-size: small;
    grid-column: value / -1;
    white-space: pre;
    &::before {
      content: '内容をURLに積む際の暗号化に使用されるパスワードです。\0a同じパスワードを使うことで別のブラウザでも同じURLを\0a表示および編集できます。';
    }
  }

  button {
    grid-column: button;
    &::before {
      content: '設定';
    }
  }
}

line:is(input[type=password]+label line) {
  stroke: transparent;
}
