dialog.password-prompt {
  .title::before {
    content: 'パスワードの設定';
  }
  > form {
    display: grid;
    grid-template-columns: 1fr [value] 3fr [button] 1fr;
    column-gap: 0.5em;
    row-gap: 0.5em;
    > label {
      grid-column: 1;
      &::before {
        content: 'パスワード:';
      }
    }
  }

  // パスワード入力フィールドの外枠
  // - div要素である
  // - 先頭にテキストフィールドを持つ
  // - 末尾にラベルを持つ
  //   - ラベルはチェックボックス1つだけを持つ
  //   - テキストフィールドとラベルの間に要素はない
  //     -> テキストフィールドとラベルだけを持つ
  div:has(
      > input:is(:not([type]), [type='text'], [type='password']):first-child
        + label:last-child
        > input[type='checkbox']:first-child:last-child
    ) {
    grid-column: value / -1;
    border: solid 1px black;
    border-radius: 3px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &:has(:focus-visible) {
      // 中のフィールドにフォーカスがある場合は黒枠
      outline: black 2px auto;
    }
    &:has(:invalid) {
      // 中のフィールドの内容に不備がある場合は赤枠
      outline: red 1px auto;
    }
    // 入力フィールド
    > input {
      // 親の枠一杯に広げる
      flex-grow: 1;
      // 枠線は外側で表示するので中では消す
      border: none;
      &:focus-visible {
        // フィールドのフォーカス枠も外側で表示するので消す
        outline: none;
      }
    }

    // チェックボックスを持つラベル(目のアイコン)
    > label {
      display: flex;
      // アイコンは中央に表示
      justify-content: center;
      align-items: center;
      // 通常は40%
      opacity: 0.4;
      // ホバー時にはアニメーションする
      transition: opacity 0.5s ease-in;
      &:hover {
        // ホバー状態になったらちゃんと表示
        opacity: 1;
      }
      &::before {
        // 目のアイコン
        content: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIzIi8+PHBhdGggZD0ibTIgMTJjMiA0IDYgNyAxMCA3YzQgMCA4LTMgMTAtN2MtMi00LTYtNy0xMC03Yy00IDAtOCAzLTEwIDdaIi8+PC9zdmc+);
        // サイズは文字サイズに合わせる
        width: 1em;
        height: 1em;
      }
      // チェックボックスがオンの場合
      &:has(:checked)::before {
        // 目に線のアイコン
        content: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIzIi8+PHBhdGggZD0ibTIgMTJjMiA0IDYgNyAxMCA3YzQgMCA4LTMgMTAtN2MtMi00LTYtNy0xMC03Yy00IDAtOCAzLTEwIDdaIi8+PGxpbmUgeDE9IjQiIHgyPSIyMCIgeTE9IjIwIiB5Mj0iNCIvPjwvc3ZnPg==);
      }
      // チェックボックス本体
      > input {
        // チェックボックス自体は非表示
        display: none;
      }
    }
    // 入力フィールドが初期状態のときの目のアイコンは非表示
    input:not([type]) + label {
      display: none;
    }
  }

  summary {
    font-size: small;
    grid-column: value / -1;
    white-space: pre;
    &::before {
      content: '内容をURLに積む際の暗号化に使用されるパスワードです。\0a同じパスワードを使うことで別のブラウザでも同じURLを\0a表示および編集できます。';
    }
  }

  button {
    grid-column: button;
    &::before {
      content: '設定';
    }
  }
}
