@import 'colors';
@import 'password-dialog';

$colors: $light;

body {
  background-color: map-get($colors, 'background');
  color: map-get($colors, 'foreground');
  font-size: 15px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

a:visited {
  color: map-get($colors, 'visited');
}

a {
  color: map-get($colors, 'link');
}

pre,
code,
th {
  background-color: map-get($colors, 'emphasis');
}

td {
  border-right: solid 1px;
  border-bottom: solid 1px;
}
td {
  border-right-color: map-get($colors, 'emphasis');
  border-bottom-color: map-get($colors, 'emphasis');
}

pre {
  padding: 5px;
}

code {
  &::before,
  &::after {
  content: '`';
  }
}

em {
  &::before,
  &::after {
  content: '*';
}
}
strong {
  &::before,
  &::after {
  content: '**';
  }
}

strike {
  &::before,
  &::after {
  content: '~~';
  }
}

@media (prefers-color-scheme: dark) {
  $colors: $dark;
  body {
    background-color: map-get($colors, 'background');
    color: map-get($colors, 'foreground');
  }

  a:visited {
    color: map-get($colors, 'visited');
  }

  a {
    color: map-get($colors, 'link');
  }

  pre,
  code,
  th {
    background-color: map-get($colors, 'emphasis');
  }

  td {
    border-right-color: map-get($colors, 'emphasis');
    border-bottom-color: map-get($colors, 'emphasis');
  }
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 12px;
}

ul>li {
  &::marker {
    content: '- ';
  }
  input[type='checkbox'] {
    margin-right: 5px;
  }
}

#contentBox {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  padding: 1px;
}

