@import 'colors';
@import 'button';
@import 'dialog-common';
@import 'password-dialog';
@import 'open-document-dialog';
@import 'confirm-dialog';
@import 'menu';
@import 'settings';

body {
  @include darkOrLight(background-color, 'background');
  @include darkOrLight(color, 'foreground');
  font-size: 15px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

a {
  @include darkOrLight(color, 'link');
  &:visited {
    @include darkOrLight(color, 'visited');
  }
}

pre,
code,
th {
  @include darkOrLight(background-color, 'emphasis');
}

td {
  border-right: solid 1px;
  border-bottom: solid 1px;
}
td {
  @include darkOrLight(border-right-color, 'emphasis');
  @include darkOrLight(border-bottom-color, 'emphasis');
}

pre {
  padding: 0 5px;
  margin: 0.5em auto;
  &::before,
  &::after {
    content: '```';
    display: block;
    margin: 0 -5px;
    @include darkOrLight(background-color, 'background');
  }
}

code {
  &::before,
  &::after {
    content: '`';
    display: inline-block;
    @include darkOrLight(background-color, 'background');
  }
}

em {
  &::before,
  &::after {
    content: '*';
    display: inline-block;
    font-style: normal;
  }
}
strong {
  &::before,
  &::after {
    content: '**';
    display: inline-block;
    font-weight: normal;
  }
}

strike {
  &::before,
  &::after {
    content: '~~';
    display: inline-block;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h1 {
  font-size: 33px;
}
h2 {
  font-size: 27px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 21px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 15px;
}

ul > li {
  &::marker {
    content: '- ';
  }
  input[type='checkbox'] {
    margin-right: 5px;
  }
}

#contentBox {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  padding: 1px;
  // フォーカスがあるときの枠を非表示にする
  &:focus-visible {
    outline: none;
  }
}
