@import 'colors';
@import 'password-dialog';
@import 'open-document-dialog';
@import 'confirm-dialog';
@import 'dialog-common';

$colors: $light;

body {
  background-color: map-get($colors, 'background');
  color: map-get($colors, 'foreground');
  font-size: 15px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

a:visited {
  color: map-get($colors, 'visited');
}

a {
  color: map-get($colors, 'link');
}

pre,
code,
th {
  background-color: map-get($colors, 'emphasis');
}

td {
  border-right: solid 1px;
  border-bottom: solid 1px;
}
td {
  border-right-color: map-get($colors, 'emphasis');
  border-bottom-color: map-get($colors, 'emphasis');
}

pre {
  padding: 0 5px;
  margin: 0.5em auto;
  &::before,
  &::after {
    content: '```';
    display: block;
    margin: 0 -5px;
    background-color: map-get($colors, 'background');;
  }
}

code {
  &::before,
  &::after {
    content: '`';
    display: inline-block;
    background-color: map-get($colors, 'background');;
  }
}

em {
  &::before,
  &::after {
    content: '*';
    display: inline-block;
    font-style: normal;
  }
}
strong {
  &::before,
  &::after {
    content: '**';
    display: inline-block;
    font-weight: normal;
  }
}

strike {
  &::before,
  &::after {
    content: '~~';
    display: inline-block;
  }
}

@media (prefers-color-scheme: dark) {
  $colors: $dark;
  body {
    background-color: map-get($colors, 'background');
    color: map-get($colors, 'foreground');
  }

  a:visited {
    color: map-get($colors, 'visited');
  }

  a {
    color: map-get($colors, 'link');
  }

  pre,
  code,
  th {
    background-color: map-get($colors, 'emphasis');
  }

  td {
    border-right-color: map-get($colors, 'emphasis');
    border-bottom-color: map-get($colors, 'emphasis');
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h1 {
  font-size: 33px;
}
h2 {
  font-size: 27px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 21px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 15px;
}

ul > li {
  &::marker {
    content: '- ';
  }
  input[type='checkbox'] {
    margin-right: 5px;
  }
}

#contentBox {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  padding: 1px;
  // フォーカスがあるときの枠を非表示にする
  &:focus-visible {
    outline: none;
  }
}
